/* Universal Styles */
html {
    min-height: 100%;
}

body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
}

svg {
    background-color: lightblue;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

/* Title */
#title {
    font-size: 30px;
    color: lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Description */
#description {
    color: lightgreen;
}

/* Canvas */
#canvas {
    min-height: 600px;
    min-width: 1200px;
}

/* Tooltip */
#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
    margin-top: 2px;
    color: lightblue;
    font-size: 24px;
    margin-bottom: 5px;
}